<!DOCTYPE html>
<html>
<head>
    <title>Manage Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h2>Manage Categories</h2>

<form method="POST">
    <input type="text" name="name" placeholder="New Category" required>
    <button type="submit">Add Category</button>
</form>

<br>

<table border="1" cellpadding="6">
    <tr>
        <th>Category</th>
        <th>Action</th>
    </tr>

    {% for c in categories %}
    <tr>
        <td>{{ c }}</td>
        <td>
            <a href="{{ url_for('delete_category', name=c) }}"
               onclick="return confirm('Delete this category?')">
               ❌ Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="{{ url_for('shopkeeper') }}">← Back to Shopkeeper</a>

</body>
</html>
