<h1>Add Product</h1>

<form method="POST">
Product: <input name="product"><br><br>
Quantity: <input name="quantity" type="number"><br><br>

Store:
<select name="store">
{% for s in stores %}
<option>{{ s[0] }}</option>
{% endfor %}
</select><br><br>

Category:
<select name="category">
{% for c in categories %}
<option>{{ c[0] }}</option>
{% endfor %}
</select><br><br>

Entered By: <input name="entered_by"><br><br>
<button>Add</button>
</form>

<hr>

<a href="/stores">Manage Stores</a> |
<a href="/categories">Manage Categories</a> |
<a href="/supervisor">Supervisor Page</a>

<hr>

<h2>Recent Entries</h2>
<ul>
{% for p in products %}
<li>
{{ p[0] }}<br>
<b>Store:</b> {{ p[1] }}<br>
<b>Category:</b> {{ p[2] }}<br>
<b>Product:</b> {{ p[3] }}<br>
<b>Qty:</b> {{ p[4] }}<br>
<b>By:</b> {{ p[5] }}
</li><br>
{% endfor %}
</ul>
